.tooltip{
    position: relative;
    border-bottom: 1px dotted black;
    display: inline-block;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background:black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 105%;
    top: -5px;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}