a{
    color: pink;
    text-decoration: none;
    border: 2px solid black;


}
a:link{
    color: red;
    background-color: gray;
   
}
a:visited{
    color: green;
}
a:hover{
    color: aqua;

}
a:active{
    color: blue;
}