p{
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow: visible;
}
.paraa1{
    background-color: aqua;
    width: 200px;
    height: 500px;
    border: 1px solid black;
    overflow:hidden;
}