*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: aqua;
    text-align: center;
}


div{
    width: 100px;
    height: 100px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    color: aquamarine;
}