*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: rgb(60, 0, 255);
    text-align: center;
    text-decoration: dashed;
}


div{
    width: 800px;
    height: 100px;
    background-color: #131111;
    margin: 10px;
    padding: 10px;
    color: rgb(8, 94, 66);
    overflow: auto;
}
p{
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    text-indent: 50px;
}