*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;s
}
table,th,td{
    border: 1px solid black;
    padding: 5px 10px;
    text-align:center;
}
table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
th,td{
    background-color: lightgray;
    color: rgb(104, 9, 220);
}
h2{
    text-align: center;
    color: rgb(104, 9, 220);
}
