div.ex1{
    width: 100%;
    margin: auto;
    border: 3px solid black;
    padding: 20px 30px;
    text-align: center;
}
div.ex2{
    max-width: 100%;
    margin: auto;
    border: 3px solid black;
    padding: 20px 30px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 14px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}
div.ex2:hover{
    background-color: aqua;
    cursor: pointer;
    box-shadow: 15px 15px 10px rgba(0,0,0,0.5);
    transition: background-color 0.5s ease-in-out;
    
}
div.relative1{
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid black;
}
div.absolute{
    position: absolute;
    top: 80px;
    right: 0;
    height: 100px;
    border: 3px solid black;
}